<%= render "shared/header" %>

<div class="main-contents">
  <div class="main-picture">
    <%= image_tag "main.jpeg", class:"top-image" %>
  </div>
  <div class="contents">
    <div class="picture-contents">
      <h2>お部屋STORY</h2>
      <ul class="picture-lists">
        <% @tweets.each do |tweet|%>
        <li class="list-picture">
        <%= link_to tweet_path(tweet.id), class: "picture-content" do %>
            <%= image_tag tweet.image, class: "room-picture-image" if tweet.image.attached? %>
            <div class="room-info">
              <div><%= tweet.room_name %></div>
            </div>
            <div class="room-user-info">
              <div><%= tweet.user.nickname %></div>
            </div>
        <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="items">
    <div class="item-contents">
      <h2>商品リスト</h2>
    </div>
    
    <ul class="item-lists">
    <% @items.each do |item|%>
      <li class="item-list">
        <%= link_to item_path(item.id), class: "item-content" do %>
          <%= image_tag item.image, class: "item-image" if item.image.attached? %>
          <div class="brand-name"><%= item.brand %></div>
          <div class="item-explain"><%= item.explain %></div>
          <div class="item-price"><%= item.price %><b>円</b></div>
          <div class="item-review">review</div>
          <div class="item-delivery">無料配送</div>
        <% end %>
      </li>
    <% end %>
    </ul>
   
  </div>
</div>

<%= render "shared/footer" %>